In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
data_ba = pd.read_csv('/mnt/d/project/comars/completed_data/ba_test.csv', index_col=0)

In [ ]:
from notebook.services.config import ConfigManager
cm = ConfigManager().update('notebook', {'limit_output': 1000})

In [ ]:
data_hong = pd.read_csv('/mnt/d/project/comars/completed_data/hong_test.csv', index_col = 0)

In [ ]:
data_non = pd.read_csv('/mnt/d/project/comars/completed_data/non_test.csv', index_col = 0)

In [ ]:
data = [ 'data_ba', 'data_non', 'data_hong']

In [ ]:
print(data_ba.head(20))

In [ ]:
print(data_ba.shape)

In [ ]:
print(data_ba.info())

In [ ]:
print(data_ba.describe().T)

In [ ]:
print(data_ba.count())

In [ ]:
Data_ba = data_ba[['farm_pig_no','gyobae_dt','one_kg','two_kg','three_kg','four_kg','five_kg'
             ,'one_now_kg','two_now_kg','three_now_kg','four_now_kg',
             'five_now_kg','day_now_kg','B_now_kg','B_kg','B_per_now_kg','now_eudusu','now_eukg',
             'next_jae','next_chongsan','next_silsan',
             'next_eudusu','next_bunman_sancha']]

In [ ]:
print(Data_ba)

In [ ]:
unique_value_now_eudusu = Data_ba['now_eudusu'].value_counts()
print(unique_value_now_eudusu.sort_values(ascending=False))
print(type(unique_value_now_eudusu))

### 바른농장+ 프그플랜에서 데이터 실산의 수

In [ ]:
print(Data_ba.mean())

In [ ]:
#####바른농장 
## 마리당 먹은 양에 따른 다음 재귀 일짜수 

print('mean of B_per_now_kg :', Data_ba['B_per_now_kg'].mean())
print('========== mean of B_per_now_kg ,next_jae ========')
print(Data_ba[['B_per_now_kg','next_jae']].mean())
jae_avg = Data_ba.next_jae.mean()
print(jae_avg)

In [ ]:
print(Data_ba.median( ))  ## 각 컬럼별 중앙값

In [ ]:
print(Data_ba['B_per_now_kg'].median())

In [ ]:
print(Data_ba.max(), )
print(Data_ba.next_jae.max())

In [ ]:
print(Data_ba.min(), '\n')
print(Data_ba.next_jae.min())

In [ ]:
print(Data_ba.std(), '\n')
print(Data_ba.next_jae.std())

In [ ]:
### 컬럼별 상관 관계

print(Data_ba.corr())

In [ ]:
#### 막대그래프로 시각화 해보자
Data_ba.columns

In [ ]:
Data_ba_silsan = data_ba[['next_silsan']]
Data_ba_silsan = data_hong[['next_silsan']]
Data_ba_silsan = data_non[['next_silsan']]

In [ ]:
##### 이유두당 번식
print(Data_ba_silsan.mean())

In [ ]:
unique_value_next_silsan = Data_ba[['next_silsan']].value_counts()
a = unique_value_next_silsan.sort_values(ascending=False)

In [ ]:
print(a) ### 다음실산의 분포

In [ ]:
#바른양돈의 분포도
Data_ba.plot(kind='box',figsize=(40,30))
  
plt.show()

In [ ]:
a = data_ba.mean() ### 모든 컬럼의 평균값을 구한다. series 형태
a = pd.DataFrame(a) ## 데이터프레임으로 바꾼다
print(type(a))
a = a.rename(columns = {0:'바른농장'}) ###컬럼이름 바꾼다
a = a.T ##행과 열 교체
print(a)

b = data_non.mean()
b = pd.DataFrame(b)
print(type(b))
b = b.rename(columns = {0:'논암'})
b = b.T
print(b)

c = data_hong.mean()
c = pd.DataFrame(c)

c = c.rename(columns =  {0: '홍성금평'})
c = c.T
print(c)

In [ ]:
pd.concat([a,b,c], axis = 0)