In [3]:
import pandas as pd
pig_plan = pd.read_csv('/mnt/d/project/comars/pigplan_1387.csv')

print(pig_plan.head(10))
pig_plan2 = pd.DataFrame(pig_plan)

   FARM_NO FARM_PIG_NO  BUNMAN_SANCHA  GYOBAE_DT  BUNMAN_DT  CHONGSAN  SILSAN  \
0     1387        9530              1   20100727   20101113         6       3
1     1387        9530              2   20110128   20110522        14      14
2     1387        9530              3   20110628   20111021        15      15
3     1387        9530              4   20120102   20120424        17      15
4     1387        9530              5   20120529   20120921        13      13
5     1387        1755              1   20091228   20100422        13      10
6     1387        1755              2   20100726   20101118        17      16
7     1387        4793              1   20091209   20100403         5       5
8     1387        4793              2   20100503   20100826        14      13
9     1387        4793              3   20100928   20110120        13      10

   EUDUSU  EUKG  CHOGYOBAE   JAE
0       7  33.6        NaN   NaN
1       9  88.2        NaN  43.0
2      10  55.0        NaN   5.0
3      10  75.0        NaN   NaN
4       9  63.0        NaN   5.0
5      11  79.2        NaN   NaN
6       6  42.0        NaN   NaN
7       8  64.0        NaN   NaN
8       7  49.0        NaN   4.0
9      11  77.0        NaN   5.0

In [4]:
print(pig_plan2.columns) ###컬럼값 가져오기

Index(['FARM_NO', 'FARM_PIG_NO', 'BUNMAN_SANCHA', 'GYOBAE_DT', 'BUNMAN_DT',
       'CHONGSAN', 'SILSAN', 'EUDUSU', 'EUKG', 'CHOGYOBAE', 'JAE'],
      dtype='object')

In [5]:
print(pig_plan2.SILSAN) ### 실산 값

0        3
1       14
2       15
3       15
4       13
        ..
3074     9
3075    11
3076     4
3077     3
3078    10
Name: SILSAN, Length: 3079, dtype: int64

In [6]:
print(pig_plan2)

      FARM_NO FARM_PIG_NO  BUNMAN_SANCHA  GYOBAE_DT  BUNMAN_DT  CHONGSAN  \
0        1387        9530              1   20100727   20101113         6
1        1387        9530              2   20110128   20110522        14
2        1387        9530              3   20110628   20111021        15
3        1387        9530              4   20120102   20120424        17
4        1387        9530              5   20120529   20120921        13
...       ...         ...            ...        ...        ...       ...
3074     1387      102-46              1   20211223   20220417         9
3075     1387      101-22              1   20211224   20220417        12
3076     1387      102-78              1   20211224   20220413        10
3077     1387      102-34              1   20211222   20220414         6
3078     1387      102-38              1   20211223   20220418        12

      SILSAN  EUDUSU  EUKG  CHOGYOBAE   JAE
0          3       7  33.6        NaN   NaN
1         14       9  88.2        NaN  43.0
2         15      10  55.0        NaN   5.0
3         15      10  75.0        NaN   NaN
4         13       9  63.0        NaN   5.0
...      ...     ...   ...        ...   ...
3074       9       9  50.4      368.0   NaN
3075      11       9  45.9      369.0   NaN
3076       4       0   0.0      369.0   NaN
3077       3      10  40.0      367.0   NaN
3078      10       9  43.2      368.0   NaN

[3079 rows x 11 columns]

In [7]:
pig_plan = pig_plan.sort_values(by=pig_plan.columns[-5], ascending=False)    ###  실산을 기준으로 내림 차순한것
print(data)

NameError: name 'data' is not defined

In [ ]:
five_value = pig_plan.iloc[1,-5]

In [ ]:
print(five_value)

14

In [ ]:
data.iloc[ : 10, -4] = five_value    ### 높은 실산 값을 입력 
data.head(11)

,FARM_NO,FARM_PIG_NO,BUNMAN_SANCHA,GYOBAE_DT,BUNMAN_DT,CHONGSAN,SILSAN,EUDUSU,EUKG,CHOGYOBAE,JAE
3030,1387,50-128,2,20220118,20220515,24,23,14,50.0,NaN,89.0
2710,1387,41-110,5,20201123,20210320,25,22,14,42.3,NaN,4.0
2178,1387,36-27,7,20191029,20200220,23,21,14,54.0,NaN,5.0
2604,1387,28-46,5,20201124,20210318,21,21,14,74.1,NaN,5.0
2107,1387,13-83,7,20190513,20190902,20,20,14,50.4,NaN,4.0
999,1387,58-21,4,20161227,20170419,20,20,14,66.0,NaN,5.0
2105,1387,13-83,5,20180806,20181130,20,20,14,72.0,NaN,5.0
1032,1387,58-61,5,20171012,20180205,22,20,14,24.0,NaN,NaN
2071,1387,14-72,3,20171124,20180318,21,20,14,49.5,NaN,36.0
1145,1387,60-16,7,20180105,20180502,19,19,14,88.0,NaN,71.0
1087,1387,58-118,7,20170710,20171103,19,19,10,53.0,NaN,4.0

In [ ]:
result  = pig_plan[(pig_plan['SILSAN']>10)]
print(result)

      FARM_NO FARM_PIG_NO  BUNMAN_SANCHA  GYOBAE_DT  BUNMAN_DT  CHONGSAN  \
1        1387        9530              2   20110128   20110522        14
2        1387        9530              3   20110628   20111021        15
3        1387        9530              4   20120102   20120424        17
4        1387        9530              5   20120529   20120921        13
6        1387        1755              2   20100726   20101118        17
...       ...         ...            ...        ...        ...       ...
3067     1387          99              1   20010422   20010815        15
3069     1387      110-00              2   20211116   20220310        15
3072     1387      101-38              1   20210709   20211101        13
3073     1387      101-50              1   20210927   20220119        15
3075     1387      101-22              1   20211224   20220417        12

      SILSAN  EUDUSU  EUKG  CHOGYOBAE   JAE
1         14       9  88.2        NaN  43.0
2         15      10  55.0        NaN   5.0
3         15      10  75.0        NaN   NaN
4         13       9  63.0        NaN   5.0
6         16       6  42.0        NaN   NaN
...      ...     ...   ...        ...   ...
3067      12      10   0.0        NaN   NaN
3069      15      11  55.0        NaN  26.0
3072      12      13  62.4      211.0   NaN
3073      11       0   0.0      237.0   NaN
3075      11       9  45.9      369.0   NaN

[1864 rows x 11 columns]

In [9]:
result  = pig_plan[(pig_plan['SILSAN']< pig_plan['CHONGSAN'])]
print(result)

      FARM_NO FARM_PIG_NO  BUNMAN_SANCHA  GYOBAE_DT  BUNMAN_DT  CHONGSAN  \
3030     1387      50-128              2   20220118   20220515        24
2710     1387      41-110              5   20201123   20210320        25
2178     1387       36-27              7   20191029   20200220        23
1032     1387       58-61              5   20171012   20180205        22
2071     1387       14-72              3   20171124   20180318        21
...       ...         ...            ...        ...        ...       ...
1096     1387      58-118             16   20210706   20211102         2
2142     1387       14-51              4   20180412   20180807        10
2901     1387       68-01              1   20200318   20200702        12
1097     1387      58-118             17   20220119   20220516         5
415      1387        6609              5   20111031   20120222        13

      SILSAN  EUDUSU  EUKG  CHOGYOBAE   JAE
3030      23      10  50.0        NaN  89.0
2710      22       9  42.3        NaN   4.0
2178      21      12  54.0        NaN   5.0
1032      20      12  24.0        NaN   NaN
2071      20      11  49.5        NaN  36.0
...      ...     ...   ...        ...   ...
1096       0       6  31.2        NaN   5.0
2142       0       0   0.0        NaN   5.0
2901       0       0   0.0      249.0   NaN
1097       0       8  32.0        NaN   NaN
415        0      10  60.0        NaN   4.0

[2029 rows x 11 columns]

# 실산 = 총산자수에서 생시사고두수(사산, 미라)를 제외하고 살아남은 새끼수
# 총산 = 모돈이 분만시 낳은 새끼수 , 죽은 새끼도 모두 포함

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

In [10]:
result2 = result.copy()

In [12]:
result2['JAE'] = result2['JAE'].fillna(result2['JAE'].median())  ### 재귀일령 NaN 값에 중앙값을 삽입
print('전처리전', np.std(result['JAE']))
print('전처리후', np.std(result2['JAE']))

전처리전 14.035258591305148
전처리후 11.956686414532388